.breadcrumb {
	display: flex;
	background-color: $card-background-color;
	width: 100%;

	&--object,
	&--divider {
		padding: 0.5rem 0.2rem 0.5rem 0.2rem;
	}
	&--link {
		font-weight: bold;
	}
	&--divider:last-child {
		display: none;
	}
}
