.slider {
	position: relative;
	width: 100%;
	margin: 0 auto;
	height: 500px;
	overflow: hidden;
	white-space: nowrap;

	&__wrapper {
		position: relative;
		height: 100%;
		width: 100%;
	}
}

.slide {
	display: inline-block;
	height: 100%;
	width: 100%;

	&__button {
		padding: 1rem;
		width: 50%;
		background-color: rgba(204, 204, 204, 0.3);
		color: #fff;
		border: 2px solid #fff;
		font-size: 1rem;

		&:hover {
			cursor: pointer;
		}
		&:active {
			border: 2px solid #ccc;
			color: #ccc;
		}
	}

	&__link,
	&__a {
		&:link {
			color: #fff;
		}
		&:visited {
			color: #ccc;
		}
		&:hover {
			color: #aaa;
		}
	}

	&__image {
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		width: 100%;
		height: 100%;
	}

	&__overlay {
		background-color: #444;
		border-radius: inherit;
		opacity: 0.7;
	}

	&__bodywrapper {
		width: 100%;
		height: 100%;
		position: absolute;
		display: flex;
		flex-direction: column;
		z-index: 100;
		top: 0%;
		left: 0%;
		text-align: center;
		justify-content: center;
	}

	&__title {
		text-align: center;
		font-size: 3rem;
		z-index: 100;
		margin-bottom: 1rem;
		font-weight: bold;
	}

	&__subtitle {
		margin-bottom: 3rem;
	}

	&--dark {
		color: #fff;
	}

	&--light {
		color: #111111;
	}
}

.arrow {
	height: 50px;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f9f9f9;
	border-radius: 50%;
	cursor: pointer;
	transition: transform ease-in .1s;
	position: absolute;
	top: 45%;
	z-index: 100;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 100%;

	&--next {
		right: 20px;
	}
	&--back {
		left: 20px;
	}
}

.thumbnail {
	width: 33.33%;
	height: 100%;
	display: inline-block;

	&__button {
		padding: 1rem;
		width: 50%;
		background-color: rgba(204, 204, 204, 0.3);
		color: #fff;
		border: 2px solid #fff;
		font-size: 1rem;

		&:hover {
			cursor: pointer;
		}
		&:active {
			border: 2px solid #ccc;
			color: #ccc;
		}
	}

	&__link,
	&__a {
		&:link {
			color: #fff;
		}
		&:visited {
			color: #ccc;
		}
		&:hover {
			color: #aaa;
		}
	}

	&__image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		width: 80%;
		height: 50%;
		text-align: center;
		vertical-align: middle;
		margin: 0 auto;
		top: 25%;
		position: relative;
		border-radius: 5%;
	}

	&__overlay {
		background-color: #444;
		border-radius: inherit;
		opacity: 0.7;
	}

	&__bodywrapper {
		width: 100%;
		height: 100%;
		position: absolute;
		display: flex;
		flex-direction: column;
		z-index: 100;
		top: 0%;
		left: 0%;
		text-align: center;
		justify-content: center;
	}

	&__title {
		word-wrap: break-word;
		text-align: center;
		font-size: 1.5rem;
		z-index: 100;
		margin-bottom: 1rem;
		font-weight: bold;
		opacity: 1;
	}

	&__subtitle {
		margin-bottom: 3rem;
	}
}

.fa-chevron-right:before,
.fa-chevron-left:before {
	color: #fff;
}
