.card {
    background-color: $card-background-color;
	box-shadow: 5px 5px 5px 0px rgba(20, 23, 40, 0.6);
	margin: 10px;
	padding: 10px;
	position: relative;
    border-radius: 3px;
    width: 100%;
}