$card-background-color: #f5f5f5;


.cta--center--position{
    margin-left: 40%;
    margin-top: 157px;
    margin-bottom: 127px;

}

.carousel--center--position{
    top: 846px;
    left: 112px;
    width: 1696px;
    height: 676px;
    align-items: center;
}