a.cta {
    
    &:hover {
        text-decoration: underline;
    }
}

.cta {
    align-items: center;
    border-radius: 3px;
    color: $color-white;
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    min-height: 64px;
    width: 150px;
    padding: 15px;
    text-decoration: none;
    text-transform: capitalize;

    &--sm {
        width: 150px;
    }

    &--md {
        width: 200px;
    }

    &--lg {
        width: 250px;
    }

    &--full {
        width: 100%;
        margin-right: 20px;
        height: 513px;

        @media (max-width: 414px) { 
            width: 80%;
            margin-left: 20%;
        }

        @media (max-width: 375px) { 
            width: 80%;
            margin-left: 22.5%;
        }

        @media (max-width: 360px) { 
            width: 80%;
            margin-left: 24%;
        }
    }

    &:last-child {
        margin-right: 0px;
    }

    &--borderless {
        text-align: left;
        font-weight: 100;
        font-size: 20px;
        letter-spacing: 0;
        color: #000;
        opacity: 1;
        background: none;
    }

    &--red {
        background: #F02A3B 0% 0% no-repeat padding-box;
        box-shadow: 0px 13px 26px #00402A26;
    }

    &--dark {
        background: #01161F 0% 0% no-repeat padding-box;
        box-shadow: 0px 13px 26px #00402A26;
    }

    &--green {
        background: #00BE7E 0% 0% no-repeat padding-box;
        box-shadow: 0px 13px 26px #00402A26;
    }

    &--round {
        border-radius: 30px;
    }
}

.cta--wimg {
    flex-direction: column;
}

.cta__desc {
    font-size: 14px;
    margin: 10px 0;
    letter-spacing: 0.3px;
    text-align: left;
    width: 100%;
    // background: #FFFFFF;
    // height: 200px;
}

.cta__icon {
    animation: slide-right 1s infinite;
}

@keyframes slide-right {
    0%   { 
        transform: translateX(0px);
    }
    50% { 
        transform: translateX(5px);
    }
    100% { 
        transform: translateX(0px);
    }  
}

.cta--wimg img {
    width: 200px;
    height: 200px;
}

.cta__img__holder {
    height: 233px;
    width: 317px;
    margin-top: -15px;
    margin-left: -15px;
    margin-right: -15px;
    background-color: #F4F4F4;
    opacity: 0.9;
    padding-left: 20%;
    padding-top: 5%;
}

.grey-white {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 30px 50px #00000010;
    border-radius: 6px;
    letter-spacing: 0;
    color: #777777;
}

.skyblue {
    background-color: #279AF1;
    opacity: 1;
}

.cta__title {
    text-align: left;
    font-size: 27px;
    font-family: Avenir;
    letter-spacing: 0;
    color: #01161F;
    opacity: 1;
    margin-bottom: -10px;
}