.featurette {
    align-items: center;
    display: flex;
    margin-bottom: 40px;
    width: 30.333%;

    &:last-child {
        margin-bottom: 0px;
    }

    @media (max-width: 768px) {
        width: 49.444%;
        
        .featurette__content {
            order: 2;
        }
    
        .featurette__image {
            order: 1;
        }
    }
    
    @media (max-width: 414px) { 
        display: grid;
        margin-left: 21%;
    }

    @media (max-width: 375px) { 
        display: grid;
        margin-left: 25%;
    }
}

.featurette--column {
    flex-direction: column;

    .featurette__content {
        margin: 0;
    }
}

.featurette--reverse {
        
    .featurette__content {
        order: 2;
    }

    .featurette__image {
        order: 1;
    }
}

.featurette__content {
    text-align: left;
    font-size: 16px;
    font-family: Avenir;
    font-weight: 400;
    margin-left: 15px;

    h1 {
        color:#E4E4E4;
        font-size: 27px;
        margin: 0;
        text-align: left;
        margin-bottom: 5px;
        
    }

    span {
        color: #a0a0a0;
        font-size: 14px;
        margin-bottom: 23px;
        opacity: 0.5;
    }

    p {
        color: #a0a0a0;
        font-size: 18px;
        opacity: 0.5;
    }
}

.featurette__image {
    background:#DEEDBF 0% 0% no-repeat padding-box;
    border: 1px solid #F5F5F5;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
    width: 100%;
}