.layout {
    align-items: flex-start;
    display: flex;
    padding: 1em;

    &--space-between {
        justify-content: space-between;
    }

    &--space-around {
        justify-content: space-around;
    }

    &--column {
        flex-direction: column;
    }

    &--wrap-column {
        display: flex;
        flex-wrap: wrap;
    }
    &--hero-banner {
        width: 1294px;
        padding-top: 207px;
        margin: auto;
    }
}

.layout--wrap-column > * {
    width: 50%;
}


@media (max-width: 768px) { 
    .layout {
        padding: 1em 2em 2em 2em;
    }
    
    .layout--wrap-column > * {
        width: unset;
    }
}

@media (max-width: 414px) { 
    .layout {
        padding: 1em;
        display: block;
    }
}