.layout {
    align-items: flex-start;
    display: flex;

    &--space-between {
        justify-content: space-between;
    }

    &--space-around {
        justify-content: space-around;
    }

    &--column {
        flex-direction: column;
    }

    &--wrap {
        flex-wrap: wrap;
    }
}

.wrapper {
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 80rem;
	width: 100%;
	padding: 0 1.5rem;

	@media (max-width: 768px) { 
		margin: 0;
	}
}

.layout--wrap-column > * {
    width: 50%;
}


@media (max-width: 768px) { 
    .layout {

    }
    
    .layout--wrap-column > * {
        width: unset;
    }
}

@media (max-width: 414px) { 
    .layout {
        display: block;
    }
}
