.layout {
    align-items: flex-start;
    display: flex;
    padding: 1em;

    &--space-between {
        justify-content: space-between;
    }

    &--space-around {
        justify-content: space-around;
    }

    &--column {
        flex-direction: column;
    }
}