@media (min-width: 768px) {
    .sidebar {
        display: none;
    }
}

.sidebar {
	background-color: #f5f5f5; // 030615 hover state bg // BF914B hover state of icon
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
	overflow-y: auto;
	transition: all 0.3s ease-in-out;
    width: 300px;
    z-index: 9999;
    display: none; // Temporary removed for the a/b light template

 	&--compressed {
		overflow: hidden;
	 	width: 80px;
    }
}

.sidebar__list-item {

    a {
        text-decoration: none;
        color: #00171F;
        &:hover {
            text-decoration: underline;
        }
    }
}

.sidebar__list-link {
    align-items: center;
    display: flex;
    padding: 15px 25px 15px;
}

.sidebar__list-name {
    margin: 0 15px;
}

.sidebar__main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: #279AF1;
}

.sidebar__main__open {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
    color: #DC143C;
}

.sidebar__icon {
    font-size: 24px;
    width: 30px;
}