$color-white: #fff;
$color-black: #000;
$color-red: #ff4d4d;
$color-blue: #4a6eff;
$color-green: #73e683;
$color-gray: #ddd;

* {
	box-sizing: border-box;
}

body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;

	font-family: Avenir;
	background: transparent radial-gradient(closest-side at 50% 50%, #01161F 0%, #000000 100%) no-repeat padding-box;
	// background: #f4f4f4 0% 0% no-repeat padding-box;
	opacity: 1;
}

img {
	max-width: 100%;
}

ul,
li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.wrapper {
	display: flex;
}

@media (min-width: 768px) {
	.wrapper {
		display: flex;
		max-width: 1294px;
		margin: auto;
	}
}

// .wrapper__content {
//     margin-left: 80px;
// }

// .header {
//     margin-left: 80px;
// }

// Common
@import 'common';
// Components
@import 'header';
@import 'footer';
@import 'overlay';
@import 'card';
@import 'cta';
@import 'dropdown';
@import 'featurette';
@import 'layout';
@import 'modal';
@import 'hero-banner';
@import 'graph';
@import 'sidebar';
@import 'button';
@import 'breadcrumb';
@import 'carousel';

// ///////////////////
// // Font Awesome //
// ///////////////////

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css');

.accelerator-h1 {
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 40px;
	font-weight: bold;
	color: #00171f;
	margin-left: 2%;

	@media (max-width: 414px) {
		margin-left: 20%;
	}
}
